<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config>
        <aop:pointcut id="mypoint" expression="execution(* org.example.Arithmetic.*(..))"/>
        <aop:advisor advice-ref="myBeforeAdvice" pointcut-ref="mypoint"></aop:advisor>
        <aop:advisor advice-ref="myAfterAdvice" pointcut-ref="mypoint"></aop:advisor>
    </aop:config>
    <bean id="myBeforeAdvice" class="org.example.MyBeforeAdvice"></bean>
    <bean id="myAfterAdvice" class="org.example.MyAfterAdvice"></bean>
    <bean id="arithmetic" class="org.example.Arithmetic"></bean>

</beans>